<p><b>Name:</b> <%= character.name %></p>
<p><b>Allies:</b> <%= character.allies %></p>
<p><b>Enemies:</b> <%= character.enemies %></p>
<p><b>Affiliations:</b> <%= character.affiliation %></p>
<img src="<%= character.photo %>" alt="an image of <%= character.name %> from The Last Airbender">
<hr>
